<div class="card-image">
    <h3>PageSpeed Insights</h3>
    <div class="performance">
        <div class="performance-item">
            <div class="performance-metric">
                <p>100</p>
            </div>
            <p>Performances</p>
        </div>

        <div class="performance-item">
            <div class="performance-metric">
                <p>100</p>
            </div>
            <p>SEO</p>
        </div>

        <div class="performance-item">
            <div class="performance-metric">
                <p>100</p>
            </div>
            <p>Bonnes pratiques</p>
        </div>

        <div class="performance-item">
            <div class="performance-metric">
                <p>100</p>
            </div>
            <p>Accessibilité</p>
        </div>
    </div>
</div>