<div class="card-image">
    <h3>Google Search Console</h3>
    <div class="seo">
        <div class="seo-item">
            <p>Impressions</p>
            <p class="growth">➜</p>
            {{!-- <img src="/assets/images/chart.svg" /> --}}
        </div>

        <div class="seo-item">
            <p>Clicks</p>
            <p class="growth">➜</p>
            {{!-- <img src="/assets/images/chart.svg" /> --}}
        </div>

        <div class="seo-item">
            <p>CTR</p>
            <p class="growth">➜</p>
            {{!-- <img src="/assets/images/chart.svg" /> --}}
        </div>

        <div class="seo-item">
            <p>Position</p>
            <p class="growth">➜</p>
            {{!-- <img src="/assets/images/chart.svg" /> --}}
        </div>
    </div>
</div>