{{!< default}}
<section class="section">
    <div class="content confidentialite">
        <h2>Politique de Confidentialité</h2>
        <p>Nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de
            confidentialité explique comment nous recueillons, utilisons et protégeons vos données lors de votre
            utilisation de nos services.</p>

        <h3>Collecte de Données</h3>
        <p>Nous ne collectons des données que dans le but de satisfaire nos engagements envers nos utilisateurs pour la
            création de leurs sites web. Aucune donnée personnelle n'est collectée à des fins non liées à ces
            engagements.</p>

        <h3>Cookies</h3>
        <p>Nous n'utilisons pas de cookies sur notre site web. Votre expérience de navigation n'est pas suivie, et
            aucune information n'est stockée sur votre appareil.</p>

        <h3>Engagements en Matière de Confidentialité</h3>
        <p>Nous nous engageons à protéger la confidentialité de vos informations. Aucune donnée n'est partagée avec des
            tiers sans votre consentement explicite, sauf si cela est nécessaire pour la réalisation de nos services
            conformément à vos demandes.</p>

        <h3>Modification de la Politique de Confidentialité</h3>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification
            sera notifiée sur notre site web.</p>

        <h3>Contactez-nous</h3>
        <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez <a href="mailto:contact@mejrimedia.fr">nous
            contacter</a>.</p>
    </div>
</section>