{{!< default}}
<section class="section">
    <div class="content confidentialite">
            <h2>Mentions Légales</h2>

            <h3>Éditeur et hebergeur du Site</h3>
            <p>Raison sociale : Entreprise en cours de création...</p>
            <p>Siège social : 39 Avenue Lucien Clause 91220 Bretigny-Sur-Orge</p>
            <p>Numéro de téléphone : +33 6 63 22 14 37</p>
            <p>Adresse e-mail : contact@mejrimedia.fr</p>

            <h3>Directeur de la publication</h3>
            <p>Sami MEJRI</p>

            <h3>Propriété Intellectuelle</h3>
            <p>Tous les éléments du site, textes, graphismes, logos, images, etc., sont la propriété exclusive de Mejri Media et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle.</p>

            <h3>Données Personnelles</h3>
            <p>Consultez notre <a href="https://mejrimedia.fr/confidentialite">Politique de Confidentialité</a> pour plus d'informations sur la collecte et le traitement des données personnelles.</p>

            <h3>Facturation et Engagements</h3>
            <p>Nous facturerons le premier client en tant que dépense non-professionnelle, conformément à la réglementation en vigueur. Aucun engagement à long terme n'est requis. Les clients peuvent résilier à tout moment, et la facturation se fera au prorata pour le mois en cours. Les clients ayant résilié recevront toutes les informations nécessaires pour réutiliser leur site.</p>

            <h3>Contact</h3>
            <p>Vous pouvez nous contacter à l'adresse e-mail suivante : contact@mejrimedia.fr</p>

            {{!-- <p>Le site est édité par Mejri Media, société immatriculée au registre du commerce et des sociétés de [Votre Ville] sous le numéro [Numéro RCS].</p> --}}
        </div>
    </section>