<footer class="{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">
                <p class="gh-footer-signup-subhead is-body">© 2024 Mejri Media - Tous droits réservés</p>
    </div>
</footer>