<footer class="{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">
                <p class="gh-footer-signup-subhead is-body footer-text"><a href="/confidentialite">Politique de Confidentialités</a> | <a href="/mentions-legales">Mentions Légales</a> | © 2024 Mejri Media - Tous droits réservés</p>
    </div>
</footer>