<section class="section">
    <div class="content">
        <h2 class="section-title">Nos guaranties</h2>
        <div class="guaranties-grid">
            <div class="guarantie">
                <h3 class="card-title">Performances Inégalées</h3>
                <p>Boostez votre site avec des performances exceptionnelles.
                    Nous garantissons des scores élevés sur PageSpeed pour une expérience utilisateur optimale.</p>
                <img src="/assets/images/Mejri_Media.png" alt="Site Web Performant"></img>
            </div>

            <div class="guarantie">
                <h3 class="card-title">SEO Expert</h3>
                <p>Votre visibilité est notre priorité. Nous intégrons des pratiques SEO avancées et vous connectons
                    directement à
                    Google Search Console pour suivre et améliorer votre classement.</p>
                <img src="/assets/images/Mejri_Media.png" alt="Site Web avec SEO Optimisé"></img>
            </div>

            <div class="guarantie">
                <h3 class="card-title">Facilité Réinventée</h3>
                <p>Simplifiez votre vie digitale. De la création de votre site web à son hébergement,
                    tout est réuni en un seul endroit pour vous offrir une expérience utilisateur fluide et sans souci.
                </p>
                <img src="/assets/images/Mejri_Media.png" alt="Site Web créé et hebergé"></img>
            </div>
        </div>
    </div>
</section>