</section>
    <div class="hero-section">
        <div class="hero-text">
            <h1 class="hero-title">Expert en Création de Sites Web, SEO Performant et Hébergement Simplifié</h1>
            <p class="hero-subtitle">Votre Partenaire Numérique pour Maximiser la Visibilité en Ligne et la Performance Web.</p>
            <p class="hero-main-text">Optimisez votre présence en ligne avec MejriMedia.fr. En tant qu'experts en création de sites web, nous vous offrons des solutions performantes, un SEO avancé et une gestion d'hébergement simplifiée. Concentrez-vous sur votre entreprise tandis que nous boostons votre visibilité sur les moteurs de recherche et garantissons des performances web exceptionnelles. Simplifiez, Optimisez, Réussissez - découvrez comment nous faisons la différence.</p>
            <div>
                <a href="#" class="hero-cta">Découvrez nos Services</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="/assets/images/Mejri_Media.png" alt="Description de l'image">
        </div>
    </div>

</section>