<section class="hero-section">
    <div class="hero-content">
        <div class="hero-text">
            <h1 class="hero-title">Expert en Création de Sites Web, SEO Performant et Hébergement Simplifié</h1>
            <p class="hero-subtitle">Votre Partenaire Numérique pour Maximiser la Visibilité en Ligne et la
                Performance
                Web.
            </p>
            <p class="hero-main-text">
                MejriMedia.fr, c'est la simplicité numérique. Experts en création de sites web performants, SEO
                avancé
                et
                hébergement fiable, nous simplifions votre présence en ligne pour que vous puissiez vous concentrer
                sur
                ce
                qui compte le plus - votre entreprise. Découvrez comment nous faisons la différence.
            </p>
        </div>
        <div class="hero-image">
            {{!-- <img src="/assets/images/Mejri_Media.svg" alt="MejriMedia logo"> --}}
            <object type="image/svg+xml" data="/assets/images/Mejri_Media.svg" alt="MejriMedia logo"></object>
        </div>
        {{!-- <div class="hero-cta">
            <a href="#">Découvrez nos Services</a>
        </div> --}}
    </div>
</section>