<section class="section">
    <div class="content">
        <h2 class="section-title">Nos Services</h2>
        <div class="guaranties-grid">
            <div class="guarantie">
                <h3 class="card-title">Migration</h3>
                <p>Offrez une nouvelle vie à votre site existant en optant pour notre service de migration avec refresh
                    de design. Nous analyserons votre site actuel, identifierons les opportunités d'amélioration, et le
                    migrerons vers une plateforme moderne tout en intégrant un nouveau design personnalisé.</p>
                <ul>
                    <li>Évaluation approfondie de votre site existant</li>
                    <li>Stratégie de migration personnalisée</li>
                    <li>Rafraîchissement de design moderne</li>
                    <li>Optimisation de l'expérience utilisateur</li>
                </ul>
            </div>

            <div class="guarantie">
                <h3 class="card-title">Création de Site Web</h3>
                <p>Transformez votre vision en réalité avec notre service complet de création de site web from scratch.
                    De la planification initiale à la mise en ligne, notre équipe dédiée travaillera en collaboration
                    avec vous pour créer un site web personnalisé qui répond à vos objectifs commerciaux et esthétiques.
                </p>
                <ul>
                    <li>Consultation approfondie pour comprendre vos besoins</li>
                    <li>Conception sur mesure avec des maquettes interactives</li>
                    <li>Développement robuste et fonctionnel</li>
                    <li>Intégration de fonctionnalités spécifiques à votre entreprise</li>
                    <li>Tests approfondis et lancement réussi</li>
                </ul>
            </div>


            <div class="guarantie">
                    <h3 class="card-title">Hébergement et Maintenance</h3>
                    <p>Assurez-vous que votre site reste performant et sécurisé avec notre service d'hébergement et de maintenance. Nous prenons en charge tous les aspects techniques, des mises à jour régulières à la surveillance continue, pour que vous puissiez vous concentrer sur le développement de votre entreprise.</p>
                    <ul>
                        <li>Hébergement fiable sur des serveurs sécurisés</li>
                        <li>Mises à jour régulières du système et des plugins</li>
                        <li>Surveillance proactive de la sécurité</li>
                        <li>Assistance technique rapide en cas de problème</li>
                        <li>Plans de maintenance personnalisés</li>
                    </ul>
                </div>
        </div>
    </div>
</section>