<section class="section">
    <div class="content">
        <h2 class="section-title">Technologies que nous utilisons</h2>
        <p>Nous utilisons les dernières technologies pour offrir des solutions web modernes, performantes et sécurisées.
        </p>
        <div class="technology-list">

            <div class="technology-item">
                <img src="/assets/images/html-5.svg" alt="HTML5"/>
                <h3>HTML5</h3>
            </div>

            <div class="technology-item">
                <img src="/assets/images/css3.svg" alt="CSS3"/>
                <h3>CSS3</h3>
            </div>

            <div class="technology-item">
                <img src="/assets/images/javascript.svg" alt="Javascript"/>
                <h3>Javascript</h3>
            </div>

            <div class="technology-item">
                <img src="/assets/images/wordpress.svg" alt="Wordpress"/>
                <h3>Wordpress</h3>
            </div>

            <div class="technology-item">
                <img src="/assets/images/ghost.svg" alt="Ghost CRM"/>
                <h3>Ghost CRM</h3>
            </div>

            <div class="technology-item">
                <img src="/assets/images/aws.svg" alt="Amazon Web Services"/>
                <h3>Amazon Web Services</h3>
            </div>

        </div>
    </div>
</section>